<header class="header">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10">
        <div class="row align-items-center">
          <div class="col-7 logo">
            <a routerLink="">
              Good Weather
            </a>
          </div>
          <div class="col text-right">
            <div class="radio-group" *ngIf="!errorHttp" [@fadeComponentAnimation]>
              <input type="radio" name="radio" value="metric" [(ngModel)]="units" (change)="valueUnits()" id="cesium">
              <label for="cesium" >&#8451;</label>
              <input type="radio" name="radio" value="imperial" [(ngModel)]="units" (change)="valueUnits()" id="fahrenheit">
              <label for="fahrenheit">&#8457;</label>
              <span class="select-radio"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
