@import "../../assets/scss/utils/colors";

.header {
  width: 100%;
  background: #2243A6;
  height: 60px;
}

.logo {
  height: 100%;
  line-height: 60px;

  a {
    color: white;
    font-size: 30px;
    font-weight: 700;
    line-height: 32px;
    display: inline-block;
    text-shadow: 0 2px 2px #004b4e;
    vertical-align: middle;
  }
}
