@import "../../assets/scss/utils/colors";

.tab-container {
  background-image: linear-gradient(to bottom , $wild-blue-yonder 55%, $white);
  border-radius: 6px;
  min-height: 600px;
  color: $white;
  margin-bottom: 15px;

  &__block {
    padding-bottom: 30px;
    
    &::before {
      content: '';
      display: block;
      height: 200px;
      position: absolute;
      right: -1px;
      top: 80px;
      background: linear-gradient(to bottom, $white, rgba(255, 255, 255, 0));
      width: 1px;
    }

    &:last-child {
      &::before {
        display: none;
      }
    }
  }

  .time {
    padding-top: 18px;
    color: $white;
  }

  .line {
    border-color: $white;
  }
}

.time-weather-list {
  > li {
    margin-bottom: 8px;

    &.time-weather-list__temp {
      font-size: 22px;
      color: yellow;
      margin-bottom: 20px;
    }
  }
}

.wind-direction-wrap {
  line-height: 50px;
  padding-top: 30px;
}

.wind-direction {
  margin: 0 auto;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 32px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid $white;
  color: $white;
  position: relative;

  .fa-circle {
    display: none;
  }

  @each $direction, $deg in
      (n, 0),
      (we, 45),
      (e, 90),
      (se, 135),
      (s, 180),
      (sw, 225),
      (w, 270),
      (nw, 315) {
    &_#{$direction} {
      transform: rotate(#{$deg}deg);
    }
  }

  &_calm {
    .fa-arrow-up {
      display: none;
    }

    .fa-circle {
      display: inline-block;
    }
  }

  &__letters {
    position: absolute;
    width: 34px;
    height: 34px;
    padding: 0;
    margin: 0;
    display: block;
    left: calc(50% - 17px);
    top: 0;
    line-height: 10px;

    li {
      width: 10px;
      height: 10px;
      text-align: center;
      position: absolute;
      color: $white;
      font-weight: 400;
      font-size: 12px;

      &:first-child {
        left: calc(50% - 5px);
        top: -18px;
      }

      &:nth-child(2) {
        top: calc(50% - 5px);
        left: -20px;
      }

      &:nth-child(3) {
        top: calc(50% - 5px);
        right: -18px;
      }

      &:last-child {
        left: calc(50% - 5px);
        bottom: -18px;
      }
    }
  }
}

/deep/ .tooltip-inner {
  background-color: $white;
  color: $wild-blue-yonder - 20;
}

/deep/ .tooltip.top .tooltip-arrow::before,
/deep/ .tooltip.top .tooltip-arrow {
  border-top-color: $white;
  right: 50%;
}

/deep/ .tab-calendar-day {
  .nav-tabs {
    display: flex;
    justify-content: space-between;
    border: 0;

    .nav-item {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
      text-align: center;
      background: $white;
      position: relative;

      &.active {
        border: 0;
        background: transparent;
      }
    }

    .nav-link {
      color: $tory-blue;
      border: 0;

      &.active {
        border-bottom: 0;
        background: transparent;
        color: $white;

        &:hover,
        &:focus {
          border-bottom-color: white;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .tab-container {
    background: $wild-blue-yonder;
  }

  /deep/ .tab-calendar-day {
    .nav-tabs {
      .nav-link {
        padding: 6px;
      }
    }
  }
}
