$light-blue: #6a8fff;
$blue: $light-blue / 1.2;
$darkblue: rgba(71, 71, 179, 0.93);
$green: #00c700;
$tory-blue: #243E8B;
$texas-rose: #FFA857;
$rich-gold: #A65E1C;
$yellow: #ffff00;
$white: #fff;
$black: #000;
$wild-blue-yonder: #6b80bf;
