<div class="container-fluid">
  <div class="row auth justify-content-center align-items-center">
    <div class="col-3">

      <div class="row">
        <div class="col logo text-center">
          <a routerLink="../../home">
            Good Weather
          </a>
        </div>
      </div>



      <h2 class="auth-title">Register or <a routerLink="../signin">Login</a></h2>
      <form class="auth__form" [formGroup]="signupForm">
        <div class="form-group form-group_border-gradient" [class.active]="signupForm.controls['email'].value > 0">
          <input type="email" name="email" class="form-control" id="exampleInputEmail1" formControlName="email">
          <label for="exampleInputEmail1">Email</label>
          <span class="d-block text-warning mt-1" *ngIf="isControlInvalid('email')">
            Invalid email address
          </span>
        </div>
        <div class="form-group form-group_border-gradient" [class.active]="signupForm.controls['password'].value > 0">
          <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password"
                 [ngClass]="{'password_green': passwordGet().value.length >= 4}" required>
          <label for="exampleInputPassword1">Password</label>
          <div *ngIf="passwordGet().invalid && (passwordGet().dirty || passwordGet().touched)" class="mt-1 text-warning">

            <div *ngIf="signupForm.controls['password'].errors.required">
              Password is required.
            </div>
            <div *ngIf="signupForm.controls['password'].errors.minlength">
              Password must be at least 4 characters long.
            </div>
          </div>
        </div>
        <div class="form-group form-group_border-gradient" [class.active]="confirmPassword.length > 0"
             [ngClass]="{'form-group_error' : errorPassword}">
          <input type="password" class="form-control" id="exampleInputPassword2" [(ngModel)]="confirmPassword"
                 [ngModelOptions]="{standalone: true}"
                 [ngClass]="{'password_green': password === confirmPassword && password.length >= 6}">
          <label for="exampleInputPassword2">Confirm Password</label>
        </div>

        <button type="button" (click)="signup()" class="btn-submit"
                [disabled]="!(password === confirmPassword && password.length >= 6)">Sign UP</button>
      </form>





      <div class="row">
        <div class="col text-center">
          <a routerLink="../../home" class="return-link">< Return to the home page</a>
        </div>
      </div>
    </div> <!-- col -->
  </div> <!-- row -->
</div> <!-- container-fluid -->
