<div class="search-wrap">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10">
        <form class="form-search">
          <input type="text" placeholder="In which city to see the weather"
                 minlength="2"
                 ngx-google-places-autocomplete
                 #placesRef="ngx-places"
                 [options]="options"
                 (onAddressChange)="handleAddressChange($event)">

          <button type="submit" value="" (click)="getWeather()">
            <i class="fas fa-search fa-2x"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
