<div class="container-fluid">
  <div class="row auth justify-content-center align-items-center">
    <div class="col-12 col-md-5 col-lg-3">

      <div class="row">
        <div class="col logo text-center">
          <a routerLink="../../home">
            Good Weather
          </a>
        </div>
      </div>

      <h2 class="auth-title">SignIn</h2>

      <button type="button" (click)="signinGoogle()" class="btn-submit">SignIn with GOOGLE</button>

      <div class="row">
        <div class="col text-center">
          <a routerLink="/home" class="return-link">< Return to the home page</a>
        </div>
      </div>
    </div>
  </div>
</div>
