@import "../../assets/scss/utils/colors";

h2 {
  padding: 17px 0 15px;
  font-size: 30px;
  color: $white;
}

.weather-now {
  margin: 30px 0;
  padding: 20px;
  height: 120px;
  background: $wild-blue-yonder;
  border-radius: 4px;
  box-shadow: 2px 2px 0 1px #d3deff;
}

.main-weather-list {
  color: $white;
  text-align: right;

  li {
    width: 50%;
    float: right;

    &.temp {
      font-size: 32px;
      padding: 19px 0;
      float: left;
    }
  }
}

@media (max-width: 991px) {
  h2 {
    text-align: center;
    font-size: 24px;
    padding: 10px 0;
  }

  .weather-now {
    height: auto;
    padding: 15px;
  }

  .main-weather-list {
    text-align: center;

    li {
      width: 32%;
      display: inline-block;
      vertical-align: middle;
      float: none;

      &.temp {
        font-size: 25px;
        padding: 12px 0;
        float: none;
      }
    }
  }
}

@media (max-width: 576px) {
  .main-weather-list {
    li {
      &.temp {
        font-size: 22px;
      }
    }
  }
}
